.homepage{
    
    background: var(--color-bg);
    height: 100%;

}

.text-category{
    color: white;
    margin-left: 35px;
    font-size: 30px;
    margin-top: 50px;
}

.latest-movies{
    display: flex;
    flex-direction: row;
}

.highest-rating-movies{
    display: flex;
    flex-direction: row;
}
