

.navbar{
    display: flex;
    flex-direction: row;
    height: 120px;
    background: var(--color-bg);
    /* border: 4px red solid; */

}
.navbar .left{
    /* border: 2px red solid; */
    width: 400px;
    margin-right: 20px;
}

.navbar .left .logo{
    display: inline;
    padding: 10px;
    font-size: 30px;
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100px;
    margin-left: 30px;
    margin-right: 50px;
}



.navbar .right {

    display: flex;
    justify-content: flex-end;
}

.navbar .right button {

    
    width: 100px;
    height: 40px;
    margin-right: 20px;
    border-radius: 5px;
    border-color: white;
    background-color: white;
    bottom: 20px;
}


